/* Footer container */
.footer {
  display: flex;
  justify-content: flex-end; /* Align text to the right */
  align-items: center;
  padding: 0 20px;
  background: linear-gradient(to bottom, #e0eafc, #374e6d); /* Updated background */
  color: #131111; /* White text for contrast */
  font-size: 0.85rem; /* Slightly increased text size */
  height: 32px; /* Slightly larger height for better visibility */
  font-family: "Roboto", sans-serif; /* Matching typography */
}
