.projects {
  padding: 50px;
  background: linear-gradient(to bottom, #e0eafc, #374e6d);
  text-align: center;
  min-height: 100vh;
}

.projects h2 {
  color: #ffffff;
  font-size: 36px;
  margin-bottom: 40px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}
