.projects {
  padding: 50px;
  background: #f4f4f4;
  text-align: center;
}

.maintenance-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
